<body>
    <h1>
        Entradas
    </h1>
    <div class="row">
        <div class="mb-3">
            <label for="name">
                Nombre
            </label>
            <div class="col-sm-10">
                <input type="checkbox" id="name">
            </div>
        </div>
        <br>
        <div class="mb-3">
            <label for="cantidadCompradores">
                Cantidad de compradores
            </label>
            <div class="col-sm-10">
                <input type="number" id="contidadCompradores" >
            </div>
        </div>
        <br>
        <div class="mb-3">
            <label for="tarjetasCine">
                Tarjetas Cinepolis
            </label>
            <div class="col-sm-10">
                <input type="radio" id="tarjetasCine">
                <br>
                <input type="radio" id="tarjetasCine">
            </div>
        </div>
        <div class="mb-3">
            <label for="cantidadBoletos">
                Cantidad de Boletos 
            </label>
            <div class="col-sm-10">
                <input type="checkbox">
            </div>
        </div>

    </div>
</body>
